-- 1. Cr├®ation de la table settings
CREATE TABLE IF NOT EXISTS public.settings (
    key TEXT PRIMARY KEY,
    value TEXT NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- 2. Activation de l'acc├¿s public (Lecture/├ëcriture)
-- Note : ├Ç adapter selon vos besoins de s├®curit├® RLS
ALTER TABLE public.settings ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Allow public read" ON public.settings
    FOR SELECT USING (true);

CREATE POLICY "Allow public insert/update" ON public.settings
    FOR INSERT WITH CHECK (true);

CREATE POLICY "Allow public update" ON public.settings
    FOR UPDATE USING (true);

-- 3. Insertion des valeurs par d├®faut pour ├®viter les champs vides au d├®marrage
INSERT INTO public.settings (key, value) 
VALUES 
    ('cache_duration', '7'),
    ('price_threshold', '0.50')
ON CONFLICT (key) DO NOTHING;

-- 4. Optionnel : Ajout d'un commentaire pour la documentation
COMMENT ON TABLE public.settings IS 'Stockage des configurations globales de l''application VigiPrix';

