-- Suppression de l'ancienne table si elle existe
DROP TABLE IF EXISTS public.historique_activites;

-- Cr├®ation de la table simplifi├®e
CREATE TABLE public.historique_activites (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    type_action TEXT NOT NULL, -- 'ajout_releve', 'suppression_releve', 'export_excel', etc.
    ean TEXT, -- Code EAN du produit concern├®
    details JSONB -- D├®tails flexibles (prix, enseigne, etc.)
);

-- Index pour la performance des timelines
CREATE INDEX idx_activites_recentes ON public.historique_activites (created_at DESC);

-- RLS Public pour le prototype
ALTER TABLE public.historique_activites ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Allow public insert" ON public.historique_activites FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow public read" ON public.historique_activites FOR SELECT USING (true);

