create table produits (
  id bigint primary key generated always as identity,
  "Description_produit" text,
  "Numero_EAN" text,
  "Descr_groupe_prdts" text,
  "Marque" text,
  "PV_actuel" numeric,
  "Devise" text
);
