-- Conversations Table
create table if not exists public.support_conversations (
  id uuid default gen_random_uuid() primary key,
  user_id uuid references auth.users on delete cascade not null,
  created_at timestamp with time zone default timezone('utc'::text, now()) not null,
  updated_at timestamp with time zone default timezone('utc'::text, now()) not null,
  status text default 'open' check (status in ('open', 'closed')),
  last_message text,
  unread_count_admin int default 0,
  unread_count_user int default 0
);

-- Messages Table
create table if not exists public.support_messages (
  id uuid default gen_random_uuid() primary key,
  conversation_id uuid references public.support_conversations on delete cascade not null,
  sender_id uuid references auth.users not null,
  message text not null,
  created_at timestamp with time zone default timezone('utc'::text, now()) not null,
  is_admin boolean default false
);

-- Enable Realtime
alter publication supabase_realtime add table support_conversations;
alter publication supabase_realtime add table support_messages;

-- RLS Setup
alter table public.support_conversations enable row level security;
alter table public.support_messages enable row level security;

-- Conversation Policies
create policy "Users can view own conversations" on public.support_conversations
  for select using (auth.uid() = user_id);

create policy "Admins can view all conversations" on public.support_conversations
  for select using (
    exists (select 1 from public.profiles where id = auth.uid() and role = 'admin')
  );

create policy "Users can create conversations" on public.support_conversations
  for insert with check (auth.uid() = user_id);

-- Message Policies
create policy "Users can view messages from own conversations" on public.support_messages
  for select using (
    exists (select 1 from public.support_conversations where id = conversation_id and user_id = auth.uid())
  );

create policy "Admins can view all messages" on public.support_messages
  for select using (
    exists (select 1 from public.profiles where id = auth.uid() and role = 'admin')
  );

create policy "Users can insert messages" on public.support_messages
  for insert with check (
    (not is_admin and exists (select 1 from public.support_conversations where id = conversation_id and user_id = auth.uid()))
    OR
    (is_admin and exists (select 1 from public.profiles where id = auth.uid() and role = 'admin'))
  );

-- Auto-update conversation on new message
create or replace function public.handle_new_support_message()
returns trigger as $$
begin
  update public.support_conversations
  set 
    updated_at = now(),
    last_message = new.message,
    unread_count_admin = case when new.is_admin = false then unread_count_admin + 1 else unread_count_admin end,
    unread_count_user = case when new.is_admin = true then unread_count_user + 1 else unread_count_user end
  where id = new.conversation_id;
  return new;
end;
$$ language plpgsql security definer;

create trigger on_support_message_inserted
  after insert on public.support_messages
  for each row execute procedure public.handle_new_support_message();

