-- 1. Cr├®ation de la table profiles
create table if not exists public.profiles (
  id uuid references auth.users on delete cascade not null primary key,
  email text,
  role text default 'user' check (role in ('admin', 'user')),
  created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- 2. Activation du RLS
alter table public.profiles enable row level security;

-- 3. Configuration des politiques de s├®curit├® (RLS)
-- Seul l'utilisateur peut voir son propre profil
create policy "Users can view own profile." 
on public.profiles for select 
using (auth.uid() = id);

-- Seul l'utilisateur peut modifier son propre profil
create policy "Users can update own profile." 
on public.profiles for update 
using (auth.uid() = id);

-- 4. Fonction pour cr├®er automatiquement un profil lors d'un nouvel utilisateur
create or replace function public.handle_new_user()
returns trigger as $$
begin
  insert into public.profiles (id, email, role)
  values (
    new.id, 
    new.email, 
    case 
      when new.email = 'jeycourjeau@hotmail.fr' then 'admin' 
      else 'user' 
    end
  );
  return new;
end;
$$ language plpgsql security definer;

-- 5. Trigger li├® ├á auth.users
drop trigger if exists on_auth_user_created on auth.users;
create trigger on_auth_user_created
  after insert on auth.users
  for each row execute procedure public.handle_new_user();

-- 6. Synchronisation initiale pour les utilisateurs existants
insert into public.profiles (id, email, role)
select id, email, 'user' from auth.users
on conflict (id) do nothing;

-- 7. Attribution forc├®e du r├┤le admin pour l'administrateur principal
update public.profiles 
set role = 'admin' 
where email = 'jeycourjeau@hotmail.fr';

